// Custom styles.

// 阅读全文按钮
.post-button {
  text-align: center;
  a {
    padding: 0 8px;
    color: $grey-dim;
    border: 1px solid $grey-dim;
    border-radius: 2px;
    transition: all 0.2s;
    font-size: $font-size-base;

    &:hover { 
      border-color: $primary-dark; 
      color: $primary-dark;  
    }
  }
}

.btn-bar, .sidebar-toggle-line {
  background: $primary;
}