// Custom styles.

// -- 网站头部样式 Start --  
.header { 
  background: white; 
  box-shadow: $c-card-box-shadow;
  .logo-line-before,
  .logo-line-after {
    i {
      background: $brand-color;
    }
  }
  .brand:hover i{
    background: $brand-hover-color;
  }
}
// -- 网站头部样式 Start --  

// -- 网站页脚样式 Start --  
.footer{
  background: #eee; 
  margin-top: 20px;
  border-top: 1px solid #e1e1e1;
}
.with-love {
  color: $primary;  
  animation(heartbeat 1.2s infinite ease-in-out)
}
// --  网站页脚样式 End --  

// --  网站主题内容 Start --
.main-inner {
  margin-top: 30px;
}

.posts-expand .post {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  c-card();
   +mobile() {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}
// --  网站主题内容 End --  

// 侧边栏开关样式
.btn-bar, .sidebar-toggle-line {
  background: $primary;
}

// --  首页的文章样式 Start --
.post-index .post-block {
  .post-header {
  
  }
  .post-body {
    
  }
  // 阅读全文按钮
  .more-btn {
    text-align: center;
    a {
      c-primary-btn();
    }
  }

}
// --  首页post样式 End --

// --  评论模块样式  --
#comments.valine-comments {
  margin: 40px 0 0;
  c-card();
  *{
    line-height: normal;
  }
  .vwrap {
    border-radius: 0;
    border: 0;
    padding: 0;
    .vheader {
      .vinput {
        width: 32%;
        margin-right: 1.3%;
        border-bottom: 1px solid #dedede;
        &:focus, &:hover {
          border-color: $primary-dark;
        } 
      }
    }
    .veditor {
      border-radius: 2px;  
      resize: none;
      border: 1px solid #dedede;
      padding: 8px;
      overflow-y: auto!important;
      height: 8.75rem!important;
      &:focus, &:hover {
        border-color: $primary-dark;
      }  
    }
  }
  .vinfo {
    padding: 0 10px;
    padding-left: 20px;
    .vcount{
      font-size: 1.25rem;
    }
    .vnum {
      color: $primary;
    }
  }
  .vlist {
    padding: 10px;
    .vcard{
      .vh{
        padding-bottom: 0;
      }
    }
    .vcontent {
      padding-top: 0;  
    }
    .vhead {
      .vnick {
        color: $primary;
        &:before {
          background: $primary-dark;
        }
        &:hover{
          color: $primary-dark;
        }
      }
      .vsys {
        display: none;
      }
    }
    .vmeta .vat{
      color: $primary;
      &:hover{
        color: $primary-dark;
      }
    }
  }
  .vbtn {
    c-primary-btn();      
  }
  .info {
    display: none;
  }
}



.dandelion .bigdan {
  width: 64px;
  height: 115px;
  left: 41px;
  background-position: -86px -36px;
}

.dandelion span {
  display: block;
  position: fixed;
  z-index: 9999999999;
  bottom: 0px;
  background: url(http://www.yeyulingfeng.com/diy/pugongying.png) no-repeat;
  animation(shake 3s linear 2s infinite);
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  transform-origin: bottom center;
}

@keyframes heartbeat {
  0% {
    transform(scale(1));
  }
  10% {
    transform(scale(0.9));
  }
  20% {
    transform(scale(1.1));
  }
  30% {
    transform(scale(0.9));    
  }
  40% {
    transform(scale(1.1));
  }
  100% {
    transform(scale(1));    
  }
}



@keyframes shake {
  0%, 50%, 100% { 
   transform(rotate(0deg));
  }
  25%, 75% { 
   transform(rotate(5deg));
  }
}

// 滚动条整体区域
::-webkit-scrollbar {
  width: 10px; // 宽度设置纵向滚动条的宽度
  height: 10px; // 高度设置横向滚动条的高度
}

// 滑块样式
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ddd;
  border: 3px solid $body-bg-color;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

