//
// Variables
// =================================================


// Colors
// custom primary.
// --------------------------------------------------

// 主色微浅：配合主色使用, 用于一些border等颜色
$primary-light   = #ffbb22
// 主色：画面基准颜色，用于按钮入口，特别需要强调和突出的文字、icon
$primary         = #ffaa00
// 主色加深：配合主色使用，如按钮的Hover颜色
$primary-dark    = #ff8800

// 辅助色
$red-light       = #ff4466
$red-dark        = #ff2244
$blue-light      = #44aaff
$blue-dark       = #2299ff
$green-light     = #25dc9b
$green-dark      = #0fc484

$brand-color     = $primary;
$brand-hover-color = $primary;

$body-bg-color   = $whitesmoke;

// $c-card-box-shadow = 0 2px 6px 0 rgba(0, 0, 0, 0.1);
$c-card-box-shadow = 0 2px 8px rgba(0,0,0,.15);
$c-box-shadow = 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, inset 1px 0 0 0 #e8e8e8, inset 0 1px 0 0 #e8e8e8;