//
// Variables
// =================================================


// Colors
// custom primary.
// --------------------------------------------------

// 主色微浅：配合主色使用, 用于一些border等颜色
$primary-light   = #ffbb22
// 主色：画面基准颜色，用于按钮入口，特别需要强调和突出的文字、icon
$primary         = #ffaa00
// 主色加深：配合主色使用，如按钮的Hover颜色
$primary-dark    = #ff8800

// 辅助色
$red-light       = #ff4466
$red-dark        = #ff2244
$blue-light      = #44aaff
$blue-dark       = #2299ff
$green-light     = #25dc9b
$green-dark      = #0fc484
