#reward-block {
  padding: 10px 0;
  margin: 60px auto 20px; 
  width: 100%;
  text-align: center;
  border-top: 2px dashed $primary-light;
  border-bottom: 2px dashed $primary-light;
  .reward-comment {
    margin: 10px 0;
  }
}

#rewardButton {
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 3px;
    width: 72px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: $primary;
    border: 1px solid $primary-dark;
    padding: 0;
    margin-top: 10px;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    color: #fff;
    font-size: 16px;
}

#rewardButton:hover{
    opacity : 0.6;
}
#QR{
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
}

#QR a{
    border:0;
}
#QR img{
    width: 180px;
    max-width: 100%;
    display: inline-block;
    transition: all 0.5s;
}
#QR p{
    font-size: 18px;
    margin: 0;
}
#QR .reward-box {
  flex: 1;
  padding: 2rem 1rem 0;
  &:hover{
    img {
      transform(scale(1.2));
    }
  // p {
  //    animation(roll 0.1s infinite linear);
  // }
  }
}

@keyframes roll {
    from {
      transform(rotateZ(30deg));
    }
    to {
      transform(rotateZ(-30deg));
    }
}
